 <!DOCTYPE html>
<html lang="en-US">
<head>
	<style>
		table, th, td {
		    border: 1px solid black;
		    border-collapse: collapse;
		}
		th, td {
		    padding: 5px;
		}
	</style>
</head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

	<div ng-app="myApp" ng-controller="formCtrl">
        <div ng-hide="verified">
       	    <img src="apollo.jpg" alt="Apollo Team" style="width:304px;height:288px;">	
	 		<p >Username : <input type="text" ng-model="username"></p>
	  		<p>Password : <input type="password" ng-model="password"></p>
	  		<input type="submit" ng-click="authenticate()" value="Login">
		</div>
		<div ng-show="verified">
			<h1> Back End Mongo DB </h1>
			<input type="submit" ng-click="logout()" ng-show="showTable" value="Logout">
			<input type="submit" ng-click="createQuestion()" ng-show="showTable" value="Create Question">
			 <table style="width:100%" ng-show="showTable">
	  			 <tr>
	    		 	 <th>Question</th>
	    			 <th>Answer</th>
	   			     <th>Category</th>
	   			     <th>Points</th>
	   			     <th>Action</th>
	  			 </tr>
	  			 <tr ng-repeat="q in questions" ng-model="questions">
	    			<td>{{q.question}}</td>
	    			<td>{{q.answer}}</td>
	    			<td>{{q.category}}</td>
	    			<td>{{q.points}}</td>
	    			<td><input type="submit"  ng-click="editOrRemove(q)" value="Edit/Remove"></td>
	 			 </tr>
			</table>
			<div ng-hide="showTable">
				<b>Edit, Remove  or Create Question</b>
				<p>Question : <input type="text" ng-model="question.question" value="{{question.question}}"></p>
	  			<p>Answer    : <input type="text" ng-model="question.answer" value="{{question.answer}}"></p>
	  			<p>Category  : <input type="text" ng-model="question.category" value="{{question.category}}"></p>
	  			<p>Points    : <input type="text" ng-model="question.points" value={{question.points}}></p>
	  			<input type="submit" ng-click="update()" value="Update">
	  			<input type="submit" ng-click="remove()" value="Delete">
	  			<input type="submit" ng-click="create()" value="Create">
			</div> 			
		
		</div>
	</div>

	<script>
		var app = angular.module('myApp', []);

		app.controller('formCtrl', function($scope, $http) {
			$scope.verified = false;
			$scope.questions = [];
			$scope.showTable = true;
			$scope.question = null;

			$scope.getQuestions = function(){
				$http.get("/questions")
                	.success(function(response) {$scope.questions = response; 
                	});
			}

			$scope.update = function() {
				$scope.showTable = true;
				//console.log($scope.question);
				$http({
                	url: '/update',
                	method: "POST",
                	data: JSON.stringify($scope.question),
              	    headers: {'Content-Type': 'application/json'}
            	}).success(function (data, status, headers, config) {
                    console.log('Updating question' + data);
                    $scope.questions = [];
                    $scope.getQuestions();
            	}).error(function (data, status, headers, config) {
                    console.log('Updating ' + status);
            	});
			};

			$scope.remove = function() {
				$scope.showTable = true;

				$http({
                	url: '/remove',
                	method: "POST",
                	data: JSON.stringify($scope.question),
              	    headers: {'Content-Type': 'application/json'}
            	}).success(function (data, status, headers, config) {
                    console.log('REMOVING question' + data);
                    $scope.questions = [];
                    $scope.getQuestions();
                    //$scope.$apply($scope.questions);
            	}).error(function (data, status, headers, config) {
                    console.log('Failed removing ' + status);
            	});


			};

			$scope.create = function(){
				console.log($scope.question);
				$scope.showTable = true;


				$http({
                	url: '/create',
                	method: "POST",
                	data: JSON.stringify($scope.question),
              	    headers: {'Content-Type': 'application/json'}
            	}).success(function (data, status, headers, config) {
                    console.log('Saving question' + data);
                    $scope.questions = [];
                    $scope.getQuestions();
            	}).error(function (data, status, headers, config) {
                    console.log('Failed Saving ' + status);
            	});
			};


			$scope.createQuestion = function(){
				$scope.showTable = false;
				$scope.question  = "";
			};

			$scope.editOrRemove = function(question){
				console.log(question)
				$scope.showTable = false;
				$scope.question  = question;
			};

		    $scope.authenticate = function() {
		    	var auth = { username : $scope.username, password : $scope.password};

		        $http({
                	url: '/home',
                	method: "POST",
                	data: JSON.stringify(auth),
              	    headers: {'Content-Type': 'application/json'}
            	}).success(function (data, status, headers, config) {
                    console.log(data);
                    if (auth.username == 'admin' && auth.password == 'password'){
                    	console.log('User verified')
                    	$scope.verified = true;

                    }
            	}).error(function (data, status, headers, config) {
                    console.log(status);
            	});

        		$http.get("/questions")
                	.success(function(response) {$scope.questions = response; 
                			});
		    };		  

		    $scope.logout = function(){
		    	$scope.verified = false;
		    };
		      
		});
	</script>

</body>
</html> 